@inherits LayoutComponentBase

<div class="page">
 
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="register"><button class="button-30">login</button></a>
        </div>
            @Body   
    </main>
</div>
